body{
    background-color: #1f2b38;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: justify;
}

    .dropdown {
      position: relative;
      display: inline-block;
      
  }

  .dropdown-button {
      background-color: #1f2b38;
      color: 34495e;
      padding: 12px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      
      
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #34495e;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 8px;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
      background-color: #42505f;
      border-radius: 8px;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }
.art1{
  width: 48%;
  height: 150px;
  background-color: #34495e;
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 8px 8px 0 0;

}
.titre1{
  margin-left: 40px;
  padding-top: 10px;
}
.p1{
  margin-left: 40px;
  margin-right: 40px;

}
.art2{
  width: 45%;
  height: 605px;
  background-color: #34495e;
  margin-top: -610px;
  margin-left: 52%;
  border-radius: 8px;
  float: right;
  margin-right: 60px;

}
.titre2{
  margin-left: 40px;
  padding-top: 10px;
}
.p2{
  margin-left: 40px;
  margin-right: 40px;
  

}
.imgentreblock{
  width: 48%;
  background-color: #34495e;
  margin-left: 60px;
  border-radius: 0 0 8px 8px ;
}
.img2{
  width: 100px;
}
.img1{
  width: 30px
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
