body{
    background-color: #1f2b38;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-align: justify;
}
nav {
    margin: 10px auto 0;
  
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }

  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
.img1{
  width: 20%;
  margin-top: 10px;
}
.logo{
  margin: 10px 10px 0;
  float: left;
  width: 20%;

}
.logo img{
  width: 20%;
  border-radius: 8p;
}
.art1{
  width: 48%;
  height: 150px;
  background-color: #34495e;
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 8px 8px 0 0;

}
.titre1{
  margin-left: 40px;
  padding-top: 10px;
}
.p1{
  margin-left: 40px;
  margin-right: 40px;

}
.art2{
  width: 45%;
  height: 605px;
  background-color: #34495e;
  margin-top: -610px;
  margin-left: 52%;
  border-radius: 8px;
  float: right;
  margin-right: 60px;

}
.titre2{
  margin-left: 40px;
  padding-top: 10px;
}
.p2{
  margin-left: 40px;
  margin-right: 40px;
  

}
.imgentreblock{
  width: 48%;
  background-color: #34495e;
  margin-left: 60px;
  border-radius: 0 0 8px 8px ;
}