
/*    permet de visualisez les div    */





:root{
  --bkc1: #1f2b38;
  --bck2: #34495e;
  --raduis: 8px;
  --footer-bk: #18222c;
}



body{
    background-color:var(--bkc1);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

    .dropdown {
      position: relative;
      display: inline-block;
      height: auto;
      width: auto;
      
  }

  .dropdown-button {
      background-color:var(--bkc1);
      color: 34495e;
      padding: 12px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius:var(--raduis);
      
      
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color:var(--bck2);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius:var(--raduis);
      color: black;
      height: auto;
  }

  .dropdown-content a {
      color: var(--bkc1);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
      background-color: #42505f;
      border-radius: var(--raduis);
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }
.img2{
  width: 100px;
}
.img1{
  width: 30px
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.page{
  content: "";
  display: table;
  clear: both;
}
#boxes {
  content: "";
  display: table;
  clear: both;
}
#f1 , #f2 ,#f3 ,#art1,#art2,#art3,.d1{
  float: left;
  height: auto;
  width: 23%;
  padding: 0 0 1rem ;
  border-radius: var(--raduis);
  margin-left: 1%;
}
#art1 {
  background-color:var(--bck2);
  margin-left: 2.5%;
}
#art2 {
  background-color:var(--bck2);
  width: 43%;
}
#art3 {
  background-color:var(--bck2);
}
h2 {
  color: var(--bkc1);
  text-align: center;
  font-size: 1.4rem;
}
.t2img{
  display: block;
  width: 80%;
  margin: auto;
  border-radius: var(--raduis);
}
#boxes2 {
  content: "";
  display: table;
  clear: both;
  margin-top: 5rem;
}
footer{
  width: 100%;
  height: auto;
  background-color: var(--footer-bk);
  margin-top: 2rem;
}
#f1 {

  margin-left: 2.5%;
}
#f2 {
 
  width: 43%;
}
#f3 {
color: white;

}
h4{
  text-align: center;
  color: var(--bck2);
}
#f1 p {
  text-align: center;
  
}
#f2 p{
  text-align: center;
  color: var(--bck2);
}
.email {
  width: 7rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--bkc1); 
  text-decoration: none;
  border-radius: var(--raduis); 
  transition: background-color 0.9s ease; 
  transition: color 0.9s ease; 
  color: var(--bck2);
}

.email:hover {
  background-color:var(--bck2);
  color: var(--bkc1); 
}
#f1 , #f2 , #f3{
  background-color: var(--footer-bk);
}
.telephone{
  width: 7rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--bkc1);
  text-decoration: none;
  border-radius: var(--raduis);
  transition: background-color 0.9s ease; 
  transition: color 0.9s ease; 
  color: var(--bck2);
}

.telephone:hover {
  background-color: var(--bck2);
  color: var(--bkc1);
}
.d1{
  width: 100%;
  margin-left: -8px;
  background-color: var(--footer-bk);
}
main div{
  padding: 0 10px 1rem;
}